<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01-box-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>02-box-open-full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>open-box-success.png</string>
            <key>size</key>
            <string>{85,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0218051b0f91ff2a0417cb4669ca458e:3a390595c3d7b1358d3b13961924ae9b:522b0468840f859c8fa352b29a8e9f6b$</string>
            <key>textureFileName</key>
            <string>open-box-success.png</string>
        </dict>
    </dict>
</plist>
